.datatablescom{
    flex: 5.5;
    height: 100%;
    width: 100%;
    .title{
        margin: 2rem;
        font-family: Roboto;
        font-weight: 900;
        color: #081A51;
    }
    .grid{
        height: 30rem;
    }
}